body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(27, 40, 49, 255);
    color: rgb(197, 196, 196);
    margin: 0;
    padding: 0;
    font-size: 90%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 45px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

body {
    margin-top: 20px;
    padding: 20px;

}

h1, h2 {
    text-align: center;
    font-size: 150%;
    color: rgb(119, 119, 119);
}

h3 {
    color: #35738a;
    margin-bottom: 10px;
}

p {
    font-size: 102%;
    line-height: 1.6;
    color: #c9c7c7;
}

img {
    width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 20px;
    padding: 40px;
}

.feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

}
.parraf{
    font-size: 15px;
    color: #000000;

}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}